.link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    font-size: 23px;
    color: rgb(35, 22, 131);
}

.activeLink {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    font-weight: 700;
    font-size: 23px;
    color: #802753
}